./build/*
./build/**/*
./data/*
./data/**/*
./dist/*
./dist/**/*
./scripts/*
./wk-classify.egg-info/*
.idea/**/*
./test.py
./tests/**/*
.code/**/*
.vscode/**/*
train_scripts/**/*
scripts/**/*
dist/**/*
build/**/*
